@import "../../variables.scss";

.history {
  margin: 0 auto;
  padding: 20px;

  h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 700;
    color: $headColor;
  }

  .historyList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .historyCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  .skeletonFacts {
    margin-top: 20px;
    display: flex;
    gap: 20px;

    svg {
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
    }
  }
}
